<div class="container">
  <div class="row text-center">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="row">
    <%= render "edit_user_form_in_profile" %>
    <div class="row text-center">
      <h5>Or</h5>
      <%= button_to "Delete my account", registration_path(resource_name), method: :delete, class: "btn form-button light-padding", data: { confirm: "Are you sure?" }, style: 'width:100%' %>
    </div>
  </div>
</div>
