#users_show_page {
  min-height: 700px;
}

.top-title-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 40px 0;

  h3, p {
    margin: 0;
  }

  .user-title {
    margin-left: 10px;
  }
}

.light-padding {
  padding: 0 2%;
}
