.card {
  background-size: cover !important;
  position: relative;
}

.card-image {
  height: 240px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-image:hover {
  opacity: 0.8;
  transition: opacity .2s ease-out;
}

.cat-categories p {
  position: absolute;
  top: 10px;
  right: -5px;
  padding: 1px 5px 1px 5px;
  font-size: 13px;
  background-color: $yellow;
  display: -webkit-inline-box;
  color: $white;
}

#categories:hover {
  background-color: #EDDB68;
  color: $white;
}

#races:hover {
  background-color: #69cabf;
  color: $white;
}

.cat-races p {
  position: absolute;
  top: 35px;
  right: -5px;
  padding: 1px 5px 1px 5px;
  font-size: 13px;
  background-color: $blue;
  display: -webkit-inline-box;
  color: $white;
}

.cat-name h2 {
  font-size: 28px;
  background-color: rgba(60,63,64,0.7);
  position: absolute;
  padding: 1px 5px 1px 5px;
  margin: 0px 0px 0px 0px;
  bottom: 0px;
  font-family: $header-font;
}

.card-content {
  position: relative;
  background-color: $lighter-grey;
  color: $dark-grey;
  padding: 10px;
  margin-bottom: 20px;
}

.card-content-top-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-user {
  position: absolute;
  right: 5px;
  top: 10px;
}

.cat-booking-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cat-price {
  font-weight: bold;
}

.cat-rating {
  margin-right: 5px;
  color: $yellow;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-content p {
  font-size: 14px;
  }


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
