<div class="container">
  <div class="row">
    <% @cats.each do |c|%>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", cat: c %>
      </div>
    <% end %>
  </div>
</div>


<!-- <a class="card-link" href="#" ></a> -->
